
/*generali*/
*{
    box-sizing: border-box;
    padding: 0;
}

/*Body*/
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #F6F8F9;
}

/*header*/
header{
    margin-bottom: 60px;
}

#logo{
    margin-top: 10px;
    margin-left: 20px;
}

h1{
    display: inline-block;
}

#logo, h1{
    vertical-align: middle;
}

/*MAIN*/
.container{
    max-width: 800px;
    margin: auto;
}

/*button section*/
#task, #section{
    border-radius: 5px;
    padding: 5px;
    border: none;
    font-size: 16px;
}

#task{
    background-color: #45ABEA;
    color: white;
}

#section{
    color: lightgrey;
    border: 1px solid lightgrey;
}

#button{
    margin-bottom: 45px;
}

/*task section*/
.check, .tag{
    display: inline-block;
}

.positive.check{
    border-radius: 50%;
    border: 1px solid green;
    color: green;
}
.negative.check{
    border-radius: 50%;
    border: 1px solid red;
    color: red;
}

.tag{
    border-radius: 10px;
    color: white;
    background-color: #45ABEA;
    padding: 5px;
    font-size: 11px;
}

span{
    font-size: 20px;
}

.box{
    margin-bottom: 50px;
}

.set-task{
    margin-bottom: 15px;
}